@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{var promoItems = CurrentPage.PromoRepositories.First().PromoItems;}

<div class="slider-section">
  <div class="tp-banner-container">
    <div class="tp-banner">
        
      <ul>
        @foreach (var item in promoItems)
        {
            <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-thumb="@item.image" data-saveperformance="off" data-title="Slide">
               
                <img src="@item.image" alt="fullslide1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="tp-caption text-center lft tp-resizeme" data-x="center" data-y="200" style="line-height:10px !important">
                    <div class="herText" style="display: none" id="response"></div>
                    <div class="herText"><h1>@item.SubHeading</h1></div><br />
                    <div class="herText"><h3>@item.Description</h3></div><br />
                    @if (item.HasValue("link"))
                    {
                        <a href="@Umbraco.Content(item.Link).Url" class="btn btn-default">@item.link1Text</a>
                    }
                    @if (item.HasValue("link2"))
                    {
                        <a href="@Umbraco.Content(item.Link2).Url" class="btn btn-primary">@item.link2Text</a>
                    }
                    else
                    {
                        <a href="#BodyCopy" class="btn btn-primary"><i class="fa fa-video-camera"> </i> Watch our video</a>
                    }
                </div>
                <div class="button-wrapper text-center">
                    <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5418052cfbfb950d88702476" data-businessunit-id="4fdb1aab000064000516891d" data-style-height="40px" data-style-width="100%" data-theme="light" data-stars="4,5">
                        <a href="https://uk.trustpilot.com/review/icslearn.co.uk" target="_blank">Trustpilot</a>
                    </div>
                </div>
            </li>
        }
      </ul>
    </div>
  </div>
</div>