@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = null;
  string url = System.Configuration.ConfigurationManager.AppSettings["ICSBaseURL"] + Model.Content.Url;
  string analyticsID = System.Configuration.ConfigurationManager.AppSettings["GoogleAnalyticsAccountId"];
  var seo = CurrentPage._seoFields;
  var landingpagetitle = @seo.title;
}

<head>
  @{ Html.RenderPartial("~/Views/Partials/Landing CSS 2016.cshtml"); }
</head>

<body onload="load();">
  <header>
    <div class="top" style="background:#@Umbraco.Field("hexTitleColor") !important">
      <div class="container">
        <div class="row-fluid">
          <p class="animated fadeInRight">
            <i id="RTapID"></i>
            <span><a href="mailto:@Umbraco.Field("facultyEmail")" style="color:#fff">@Umbraco.Field("facultyEmail")</a></span>
          </p>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <div class="row-fluid">
          <div class="span3">
            @if (Model.Content.HasValue("logo"))
            {
              var logoList = Model.Content.GetPropertyValue<string>("logo").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
              var logoCollection = Umbraco.TypedMedia(logoList).Where(x => x != null);

              foreach (var logo in logoCollection)
              {
                <img src="@logo.Url" alt="ICS Learn Logo" class="logo animated delay1 fadeInDown" />
              }
            }

          </div>
          <div class="span9">
            <h1 class="animated delay2 fadeInDown" style="color:#@Umbraco.Field("hexTitleColor") !important">@landingpagetitle</h1>
          </div>
        </div>
      </div>
    </nav>
    <div class="slider">
      <div class="container">
        <div class="row-fluid">
          <div class="span6">
            <div class="form" style="text-align: left !important; color: #fff !important;">
              <h1 style="color:#fff !important;">@Umbraco.Field("formSideContentHeader")</h1>
              <span style="color:#fff !important;">@Umbraco.Field("formSideContent")</span>
            </div>
          </div>
          <div class="span6 formback">
            <div class="form">
              @if (Model.Content.HasValue("logoBanner"))
              {
                var logoBannerList = Model.Content.GetPropertyValue<string>("logoBanner").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
                var logoBannerCollection = Umbraco.TypedMedia(logoBannerList).Where(x => x != null);
                foreach (var logoBanner in logoBannerCollection)
                {
                  <div class="span12">
                    <img src="@logoBanner.Url" class="logo animated delay1 fadeInDown" />
                  </div>
                }
              }

              <h2 class="animated delay3 bounceIn" style="color:#@Umbraco.Field("hexTitleColor") !important">@Umbraco.Field("formHeaderText")</h2>
              <div style="display: none" id="response"></div>
              <div style="display: none" id="responseGA"></div>
              <div id="loading" style="display: none" class='alert'><a class='close' data-dismiss='alert'>X</a>Loading</div>
              <form id="cgrForm" name="newsletter-form" role="form" method="post" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" onsubmit="return validation(this);">
                <input type="hidden" name="oid" value="00D24000000Hpnk" />
                <input type="hidden" name="retURL" value="@url#lpsubmit" />
                <input type="hidden" name="lead_source" id="lead_source" value="@Umbraco.Field("leadSource")" />
                <input type="hidden" name="00N24000003TqgK" id="00N24000003TqgK" value="@Umbraco.Field("leadSupplier")" />
                <input type="hidden" name="00N24000004KOKt" id="00N24000004KOKt" value="@Umbraco.Field("landingPageSource")" />
                <input type="hidden" name="00N240000021U6U" id="00N240000021U6U" value="Course Guide Request" />
                <input type="hidden" name="00N24000001pXKN" id="00N24000001pXKN" value="" /><!-- Course Code -->
                <input type="hidden" name="00N24000003Tqg0" id="00N24000003Tqg0" value="" /><!-- Course Name -->
                <input type="hidden" name="00N24000002xMZj" id="00N24000002xMZj" value="" />
                <input type="hidden" id="FaculyValue" value="@Umbraco.Field("facultyName")">
                <input type="hidden" name="Active_Lead__c" id="Active_Lead__c" value="TRUE" />
                <input type="hidden" name="DistributionValue__c" id="DistributionValue__c" value="" />
                <div class="row-fluid">
                  <div class="span6">
                      <input type="text" id="first_name" placeholder="First Name" name="first_name" onchange="ga('send', 'event', 'Forms', 'Fillin', 'First Name');" />
                  </div>
                  <div class="span6">
                      <input type="text" id="last_name" placeholder="Last Name" name="last_name"  onchange="ga('send', 'event', 'Forms', 'Fillin', 'Last Name');" />
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span6">
                      <input type="email" id="email" placeholder=" * Email" name="email" onchange="QASemail()" />
                  </div>
                  <div class="span6">
                      <input type="tel" id="phone" placeholder="Phone - *inc country code" name="phone" onchange="ga('send', 'event', 'Forms', 'Fillin', 'Mobile');" />
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span12">
                    <select class="input-xlarge" id="CourseCodeSelect">
                      <option selected="selected" value="0">Choose a Course</option>
                      @Umbraco.Field("courseOptionsLP")
                    </select>
                  </div>
                </div>
                <div class="row4">
                  <input type="submit" data-loading-text="Loading..." class="btn button animated bounceIn" onclick="saveSelectedValues2()" value="@Umbraco.Field("submitButtonText")">
                </div>
              </form>
              <div class="row4">
                <br>
                <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="4fdb1aab000064000516891d" data-style-height="28px" data-style-width="100%" data-theme="light"></div>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="container info">
    <div class="row-fluid">
      <div class="span12">
        <h2 class="animated delay4 fadeInDown" style="color:#@Umbraco.Field("hexTitleColor") !important"></h2>
      </div>
    </div>
  </section>
  <section class="container info">
    <div class="row-fluid">
      @CurrentPage.GetGridHtml("bodyText")
    </div>
    <hr />
  </section>
  <section class="container courses">
    <h2 class="animated delay3 fadeInDown"><strong>Meet some of our successful students</strong></h2>

    <div class="row-fluid ">

      <div class="span4">
        <div class="item" style="background:#@Umbraco.Field("hexTitleColor") !important">
          <div class="ch-item ch-img-1 thumb">
            <div class="ch-info">
              <p><a class="simple-ajax-popup-align-top" href="/blog/posts/2014/december/ics-real-stories-meet-lisa/">Read more </a></p>
            </div>
          </div>
          <h4>Meet Lisa</h4>
          <p>With a time-consuming hobby, her own cake-baking business and a two year old son to look after, Lisa was looking for a flexible way to earn her formal CIPD qualification...</p>
          <a class="simple-ajax-popup-align-top btn" href="/blog/posts/2014/december/ics-real-stories-meet-lisa/">Read More</a>
        </div>
      </div>
      <div class="span4 fadeInDown delay4">
        <div class="item" style="background:#@Umbraco.Field("hexTitleColor") !important">
          <div class="ch-item ch-img-4 thumb">
            <div class="ch-info">
              <p><a class="simple-ajax-popup-align-top" href="/blog/posts/2015/february/ics-real-stories-meet-natalia/">Read more </a></p>
            </div>
          </div>
          <h4>Meet Natalia</h4>
          <p>Natalia enrolled on our CIPD Level 5 Certificate distance learning course after starting her first HR role just a month earlier. She quickly realised that she would need....</p>
          <a class="simple-ajax-popup-align-top btn" href="/blog/posts/2015/february/ics-real-stories-meet-natalia/">Read More</a>
        </div>
      </div>
      <div class="span4 fadeInDown delay5">
        <div class="item" style="background:#@Umbraco.Field("hexTitleColor") !important">
          <div class="ch-item ch-img-3 thumb">
            <div class="ch-info">
              <p><a class="simple-ajax-popup-align-top" href="/blog/posts/2014/october/ics-real-stories-meet-charlotte/">Read more </a></p>
            </div>
          </div>
          <h4>Meet Charlotte</h4>
          <p>Charlotte works as a Human Resources Assistant. She enjoys being able to support her colleagues and work within her organisation to create.....</p>
          <a class="simple-ajax-popup-align-top btn" href="/blog/posts/2014/october/ics-real-stories-meet-charlotte/">Read More</a>
        </div>
      </div>

    </div>
  </section>
  <section class="extra">
    <div class="container">

      <div class="row-fluid">

        <div class="span4">
          <h3>Meet our CIPD tutors</h3>
          <div class="video">
            <iframe src="https://www.youtube.com/embed/7BbViTHSbgI?controls=2" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>
            Your tutor provides you with academic support and answers any queries you may have regarding your CIPD course including its content and assessments.
            They ensure that you are fully prepared to successfully pass your coursework and exams (if applicable) by providing and marking effective revision
            aids such as test papers and mock exams.
          </p>
        </div>

        <div class="span4">
          <h3>Student testimonials</h3>
          <div class="carousel">
            <ul class="testimonials">
              <li>
                <img src="/images/img/logoMain.png" width="80" height="80" alt="testimonial image 1" />
                <h5>The service is great and my mentor team respond to my emails withing 1-2 days.</h5>
              </li>
              <li>
                <img src="/images/img/logoMain.png" width="80" height="80" alt="testimonial image 2" />
                <h5>Excellent tutor support. Friendly and helpful support staff always on hand.</h5>
              </li>
              <li>
                <img src="/images/img/logoMain.png" width="80" height="80" alt="testimonial image 3" />
                <h5>Good service from ICS Learn, they have helped me lot! Thanks</h5>
              </li>
              <li>
                <img src="/images/img/logoMain.png" width="80" height="80" alt="testimonial image 2" />
                <h5>Have been helpful so far especially at the start when there were a few issues with my course modules</h5>
              </li>
              <li>
                <img src="/images/img/logoMain.png" width="80" height="80" alt="testimonial image 3" />
                <h5>At present I am happy with the service to date. I have not yet had any dealings with my tutor as I feel I haven't had the need.</h5>
              </li>
              <li>
                <img src="/images/img/logoMain.png" width="80" height="80" alt="testimonial image 1" />
                <h5>received course work within stated time and was supported quickly after first inquiry.</h5>
              </li>
              <li>
                <img src="/images/img/logoMain.png" width="80" height="80" alt="testimonial image 2" />
                <h5>Very prompt in delivery and service.</h5>
              </li>
              <li>
                <img src="/images/img/logoMain.png" width="80" height="80" alt="testimonial image 3" />
                <h5>It was very straight forward to enrol put my mind at ease.</h5>
              </li>
            </ul>
          </div>
          <a href="#" class="navi-right next"></a>
          <a href="#" class="navi-left prev"></a>

        </div>

        <div class="span4">
          <h3>Feefo reviews</h3>
          <br>
          <a href="https://www.feefo.com/GB/en/reviews/ICS-Learn/?id=464334" onclick="ga('send', 'event', 'reviewclick', 'click', 'feeforeviews');"><img class="scholarships" src="/images/img/feefologo.png" width="70%" alt="Student Image ICS" /></a>
          <h3>Trust Pilot reviews</h3>
          <br>
          <!-- <a href="https://www.trustpilot.co.uk/review/icslearn.co.uk" onclick="ga('send', 'event', 'reviewclick', 'click', 'trustpilotreviews');"><img class="scholarships" src="/landingpages/content/img/trustpilot.png" width="70%" alt="Student Image ICS" /></a>-->
          <div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="4fdb1aab000064000516891d" data-style-height="150px" data-style-width="100%" data-theme="light"></div>
          <p></p>
        </div>
      </div>

    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          <span style="color:#fff">4.8 Google star </span><a href="https://www.google.co.uk/shopping/seller?q=icslearn.co.uk&amp;hl=en&amp;sa=X&amp;ei=TE3PVLmdMYi1UfWcgZAE&amp;ved=0CCcQwQY" style="color:#fff">Rating</a> <img src="/images/img/stars.png" width="105" height="20" alt="Google Starts" /><br>
          <h6>&copy; 2016 ICS Learn. All rights reserved</h6>
        </div>
        <div class="span6">
          <ul class="social">
            <li title="Linkedin" class="tooltip_hover"><a href="https://uk.linkedin.com/company/ics-international-correspondence-schools-" onclick="ga('send', 'event', 'linkedin', 'click', 'linkedinbutton');" class="linkedin socialicon"></a></li>
            <li title="Youtube" class="tooltip_hover"><a href="https://www.youtube.com/user/ICSLearn" onclick="ga('send', 'event', 'youtube', 'click', 'youtubebutton');" class="youtube socialicon"></a></li>
            <li title="Facebook" class="tooltip_hover"><a href="https://www.facebook.com/ICSLearn" onclick="ga('send', 'event', 'facebook', 'click', 'facebookbutton');" class="facebook socialicon"></a></li>
            <li title="Twitter" class="tooltip_hover"><a href="https://twitter.com/icslearn" onclick="ga('send', 'event', 'twitter', 'click', 'twitterbutton');" class="twitter socialicon"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  @{ Html.RenderPartial("~/Views/Partials/Landing Javascript 2016.cshtml"); }
</body>